//nominees
.btn-nominees {
  width: 437px;
  height: 142px;
  top: 50%;
  left: 50%;
  margin: -71px 0 0 -218px;
  font-size: 4rem;
  line-height: 142px;
  background-image: url("../images/btn.png");
  position: absolute;
  @include RWD(pad_landscape) {
    left: 45%;
    margin-left: -350px;
  }
}

//lucky draw
.btn-lucky-draw {
  width: 120px;
  margin: 0 10px;
  font-size: 6rem;
  line-height: 120px;
  background-image: url("../images/btn-circle.png");
  background-size: 100% auto;
  &.winner, &.failed {
    &:after {
      content: "\0020";
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      opacity: .5;
      position: absolute;
    }
  }
  &.winner {
    &:after {
      box-shadow: 0 0 30px white;
      background: white;
      mix-blend-mode: overlay;
    }
  }
  &.failed {
    transform: scale(.7,.7);
    filter: blur(3px);
    opacity: .7;
    &:after {
      box-shadow: 0 0 20px black;
      background: black;
      mix-blend-mode: multiply;
    }
  }
}

//function
.btn-reload {
  top: 0;
  left: 0;
}
.btn-setting {
  top: 0;
  right: 0;
}