//font
$font-family: "Roboto", sans-serif;
$font-size: 24px;
$font-line-height: 1.4;

//media query breakpoints
///pad_landscape
$screen-lg-max: 1024px;
$screen-lg-min: 769px;
///pad_portrait
$screen-md-max: 768px;
$screen-md-min: 668px;
///mobile
$screen-sm-max: 667px;